body{
    background-color: #1A4461;
    color: white;
    font-family: Roboto;
}

/* h1, h2, h3, h4, h5, h6, p{
    font-family: Roboto;
} */

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
}

.logo{
    height: 250px;
    width: 250px;
}

.story{
    margin-top: 40px;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 20px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button{
    padding: 15px 50px 15px 50px;
    color: #1A4461;
    font-size: 20px;
    width: 180px;
    font-weight: bold;
    border: 1px solid #1A4461;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color .8s, color .8s, border .8s;
}

.play-button:hover{
    background-color: #1A4461;
    color: white;
    border: 1px solid white;
}